<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>sandbox</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sandbox.css') }}" />

    <script src="{{ url_for('static', filename='libs/components.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libs/utils.js') }}"      type="text/javascript"></script>
    <script src="{{ url_for('static', filename='libs/events.js') }}"      type="text/javascript"></script>

    {% include 'datadog.jinja' %}

</head>

<body>

    <script>
    
        /* where users writes QRCode content */
        let cInput = new CTextInput()
        cInput.focus() ; cInput.select();

        /* where QRCode outputs */
        let cQRCode = new CQRCode("/qrcode", "link" ) 

        /* cInput listen to event cQRCode fires on OK */
        listen(cInput.id, "qrcode::ok"     , _ => cInput.status = "ok" )

        cInput.element.addEventListener('input', debounce( _ => cQRCode.update( cInput.value ) , 500))

    </script>

</body>
</html>