html { 
    height: 100% ;
    background: var(--green);
}

:root {

   --green: #0c6f50;
   --black: #000000;
   --beige: #ece2ce;
   --red: #ea3d08;

}

@font-face {
    font-family: sandbox;
    src: url("./fonts/Roboto-Regular.ttf");
}

* {
    font-family: sandbox;
    color: var(--black);
}


body {

    width: 600px;
    height: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    display: flex ;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;

}

*:focus {
    outline: none;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/* INPUT SECTION */


.input-group {
    position: relative;
    width: 400px;
}
  
.input-group input {

    height: 36px; 
    width: 100%;
    padding-left: 8.75px;
    padding-top: 8.25px;
    padding-bottom: 5px;

    background: var(--beige);

    border-radius: 10px;
    border: none;
    border-bottom: 2.5px solid ;
    border-color: var(--beige);

    text-align: center;
    font-size: 20px;
    color: var(--green);
    caret-color: var(--red) ;

}

@keyframes spin {
    0%   { transform: rotate(0deg)   }
    50%  { transform: rotate(180deg) }
    100% { transform: rotate(360deg) }
}

.input-group > svg {
    position: absolute;
    top: 14px;
    right: 10px;
    fill: var(--green);
    animation: spin 2s linear infinite;
}

.input-group:not(.loading) > svg {
    visibility: hidden;
}

.input-group.loading > svg {
    visibility: visible;
}


.input-group > .input-helper {
    font-size: 12px;
    color: var(--beige);
    margin: 4px;
}

.input-group > input:hover,
.input-group > input:focus {
    border-color: var(--green);
}


/* QRCODE SECTION */

.qrcode {
    width: 500px;
}
  
.qrcode img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 100%;
}

@keyframes fade {
    0%   { opacity: 1;}
    40%  { opacity: 0.5; }
    50%  { opacity: 0; }
    60%  { opacity: 0.5; }
    100% { opacity: 1;}
}

.qrcode svg {
    fill: var(--beige);
    height: 100%;
    width: 100%;
    animation: fade 5s linear infinite;
}
